[Unit]
# Сервис watchdog для Yandex Cloud VM
Description=Run Yandex Cloud watchdog check
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/yc-watchdog/yc_autostart.sh
User=root

[Install]
WantedBy=multi-user.target
